<% @team.photos.each do |photo| %>
<p>
  <%= image_tag "/images/#{photo.file_name}", {:class => 'team_image'} %>
  <% if @logged_in %>
  <br /><%= photo.caption %>
  <% end %>
</p>
<% end %>

<%= link_to 'Back', :back %>
